@use 'base' as *

.divide2
    display: grid
    grid-template-rows: 1fr
    grid-template-columns: 50% 6% 44%
    justify-content: space-around
    align-items: center
    grid-template: "editor button results"
    @media not ($mq-medium)
        grid-template:  "editor" "button" "results"
        grid-template-columns: 1fr
        grid-template-rows: 1fr 25px 1fr
    .btn-primary
        grid-area: button
#editor 
    grid-area: editor
    margin-bottom: 2em
    margin-left: 2em
    min-height: 50em
    min-width: 50em
    @media not ($mq-medium)
        font-size: $base-font-size*0.4
        margin: 0.5em
        min-height: 60em
        min-width: 98%
    font-size: $base-font-size*1.1
    position: relative


#test-results
    grid-area: results
    display: flex
    flex-direction: column
    justify-content: center
    flex-wrap: wrap
    align-items: center
    margin: 0.3em
    font-size: $base-font-size 

#test-results li
    border-radius: 2px
    margin:5px
    background-color: #dcdcdcea

#test-results .t-succ
    background-color: #00aa00ee

#test-results .t-fail
    background-color: #aa0000ed

.mr-summary 
    font-size: $base-font-size * 1.8

.demo
    position: relative
    z-index: 1
    display: flex
    align-items: center
    justify-content: center
    width: 250px
    height: 250px
    border-bottom: 1px solid rgba(0,0,0,.65)
    cursor: pointer

.demo-content 
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    text-align: center
    width: 250px
    height: 250px

.shadow 
    position: absolute
    opacity: .2


.grid 
    display: flex
    flex-wrap: wrap
                                                      
.square, .circle 
    pointer-events: none
    position: relative
    width:24px
    height:24px
    margin-left: 1px
    margin-bottom: 1px
    background-color: #dcdcdcea
    font-size: 14px


.small 
    width:24px
    height:24px

.color-darkgreen, .color-staggering 
    color: #00D672


.tooltip-text 
  visibility: hidden
  position: absolute
  z-index: 10
  color: white
  font-size: 12px
  background-color: #151515
  border-radius: 10px
  padding: 10px 15px 10px 15px

.t-fail:hover .tooltip-text , .t-fail.hover .tooltip-text 
    visibility: visible

.t-succ:hover .tooltip-text , .t-succ.hover .tooltip-text 
    visibility: visible

